<!DOCTYPE html>
<html lang="pt-br"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    
    <title>Spring Boot com Thymeleaf</title>
	<link rel="icon" href="/image/favicon.png" />
    
    <!-- CSS -->
    <!-- Bootstrap core CSS -->
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css">
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
	
	<!-- Custom styles for this template -->
	<link href="/css/style.css" rel="stylesheet" />
</head>

<body>

	<header th:replace="~{layout/fragments/header :: header}">
	    <p>CABEÇALHO</p>
	</header>
	
	<main  class="layout-main">
		<aside th:replace="~{layout/fragments/menu_lateral :: menu-lateral}">
			<p>SIDEBAR</p>
		</aside>
		
		<section class="layout-content" layout:fragment="conteudo">
			<p>CONTEÚDO PRINCIPAL</p>
		</section>
	</main>


	<footer th:replace="~{layout/fragments/footer :: footer}">
	   <p>RODAPÉ</p>
	</footer>	
	
	<!-- JS -->
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
	<script	src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.11.8/umd/popper.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
	
	<script th:src="@{/js/js-alert-tempo.js}"></script>
	<script th:src="@{/js/js-confirma-exclusao.js}"></script>
	<script th:src="@{/js/js-popover.js}"></script>
	<script th:src="@{/js/js-sidebar.js}"></script>
	
	
</body>

</html>
